apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: objectstoragebuckets.hybridcloud.maibornwolff.de
spec:
  scope: Namespaced
  group: hybridcloud.maibornwolff.de
  names:
    kind: ObjectStorageBucket
    plural: objectstoragebuckets
    singular: objectstoragebucket
    shortNames:
      - bucket
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                backend:
                  type: string
                interface:
                  type: string
                credentialsSecret:
                  type: string
                network:
                  type: object
                  properties:
                    publicAccess:
                      type: boolean
                    firewallRules:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          cidr:
                            type: string
                        required:
                          - name
                          - cidr
                security:
                  type: object
                  properties:
                    anonymousAccess:
                      type: boolean
                    cors:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          allowedOrigins:
                            type: array
                            items:
                              type: string
                          allowedMethods:
                            type: array
                            items:
                              type: string
                          exposedHeaders:
                            type: array
                            items:
                              type: string
                          allowedHeaders:
                            type: array
                            items:
                              type: string
                          maxAgeInSeconds:
                            type: number
                        required:
                          - name
                          - allowedOrigins
                          - allowedMethods
                          - exposedHeaders
                          - allowedHeaders
                          - maxAgeInSeconds
                dataRetention:
                  type: object
                  properties:
                    versioning:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                    deleteRetention:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        retentionPeriodInDays:
                          type: number
                backup:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                lifecycle:
                  type: object
                  properties:
                    rules:
                      type: array
                      items:
                        type: object
                        properties:
                          blobPrefix:
                            type: string
                          deleteDaysAfterModification:
                            type: number
                        required:
                          - blobPrefix
                          - deleteDaysAfterModification
                containers:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      anonymousAccess:
                        type: boolean
                    required:
                      - name
                sftp:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    users:
                      type: array
                      items:
                        type: object
                        properties:
                          username:
                            type: string
                          access:
                            type: array
                            items:
                              type: object
                              properties:
                                container:
                                  type: string
                                permissions:
                                  type: array
                                  items:
                                    type: string
                          sshKeys:
                            type: array
                            items:
                              type: object
                              properties:
                                description:
                                  type: string
                                publicKey:
                                  type: string
                              required:
                                - publicKey
                        required:
                          - username
                          - sshKeys
                  required:
                    - enabled
              required:
                - credentialsSecret
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
              nullable: true
